/* import file */
/* ************************************************************ */
@import "./reset.css";
@import "../fonts/font.css";

/* ******************VARIABLES************************************* */

:root {
  /* color */
  --color-text: #ae7c78;
  --color-btn: #d89999;
  --defaultbg: #ffffff;
  --defaultfont: #000;
  /* container*/
  --maxwidth-container: 1230px;
  --margin: 0 auto;
  --padding: 0 15px;
  /* fonts */
  --fontsize: 16px;
  --fontfamily: "Montserrat", sans-serif;
  --pd-btn: 30px 70px 30px 70px;
}
/* ***************BASIC-SETTING**********************/
.container {
  max-width: var(--maxwidth-container);
  margin: var(--margin);
  padding: var(--padding);
}
.wrapper {
  overflow: hidden;
  min-height: 100vh;
  background-color: var(--color-bgwhite);
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.none {
  display: none !important;
}

body {
  color: var(--defaultFont);
  line-height: 1;
  font-family: var(--fontfamily);
  font-size: var(--fontsize);
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

/* image ibg */
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
/* ***********************COMPONENTS****************************** */
.btn {
  display: inline-flex;
  max-width: 290px;
  padding: var(--pd-btn);
  background-color: var(--color-btn);
  border-radius: 40px;
  justify-content: center;
  align-items: center;
}
/* ***************************header********************************* */
.header {
  margin-top: 25px;
  border-top: 1px solid var(--color-text);
  border-bottom: 1px solid var(--color-text);
  margin-bottom: 5em;
}
.header__container {
  min-height: 70px;
}
.container {
}
.header__nav {
  display: grid;
  grid-template: repeat(1, 1fr) / 1fr auto 1fr;
  padding: 22px 0px;
}
.nav {
}
.nav__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.nav__list--left {
  padding-right: 50px;
}
.nav__item {
}
.nav__link {
  color: var(--color-text) !important;
}
.nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
}
.nav__list--right {
  padding-left: 50px;
}
/* ***********************about************************************* */
.main__about {
}
.about {
}
.about__container {
}
.container {
}
.about__body {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
}
.about__text {
  display: flex;
  flex-direction: column;
}
.about__title {
  font-size: 44px;
  font-weight: 400;
  line-height: 58px;
  color: var(--color-text);
  margin-bottom: 24px;
  max-width: 420px;
}
.about__subtitle {
  max-width: 400px;
  font-size: 24px;
  font-weight: 400;
  color: var(--color-text);
  line-height: 100%;
  margin-bottom: 60px;
}
.about__button {
}
.about__image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, auto);
  gap: 20px;
}

.about__image img:nth-child(1) {
  margin-top: 60px;
}

.about__image img {
  border-radius: 10px;
}

/* ***********************about************************************* */
/* ***********************about************************************* */
/* ***********************about************************************* */
/* ***********************about************************************* */
/* ***********************about************************************* */
/* ***********************about************************************* */
